<!-- <% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Sort Orders</h1><br>
    <div class="col-6 offset-3">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Search vendors </label><br>
            <a href="/orders?VendorCode=<%= order.VendorCode %>"><%= order.VendorCode %></a>
        </div>
    </div>
</div> -->